parameters:
	paths:
		- .
	excludes_analyse:
		- Tests/
		- vendor/
		- var/
		- Resources/doc/example/
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true

includes:
    - phpstan-baseline.neon
